:host {
    .header {
        width: 100%;
        background-color: rgb(253, 242, 226);
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        span {
            font-size: 100px;
            color: burlywood;
            font-family: cursive;
        }
    }
}